<%-include ('partials/header.ejs') %> 
<body>
    <%-include ('partials/navbar.ejs') %>

    <div class="container">
        <br>
        <h2>Procedures e Functions!</h2>
        <a href="/procedure/cadastrar" class="btn btn-success">Cadastrar nova</a>
        <br>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Banco de dados</th>
                    <th>Versão</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <% procedures.forEach(procedure => { %>
                    <tr>
                        <td><%= procedure.nameProcedure %></td>
                        <% if (procedure.bancoProcedure == 1) { %>
                            <td>SQL</td>
                         <% } else { %>
                            <td>Oracle</td>
                        <%}%>
                        <td><%= procedure.versaoProcedure %></td>

                        <td>

                            <a href="/procedure/separar-parametros/<%= procedure.idProcedure %>">
                                <i class="fas fa-play-circle" id="exec"></i>
                            </a>

                        </td>

                        
                    </tr>
                <% }) %>


            </tbody>

        </table>


    </div>

</body>
</html>